.jumbotron {
  background-color: rgb(129, 116, 129);

  padding-top: 5rem;
  margin-top: 3rem;
}
.emot {
  font-size: 1000px;
}
.body {
  height: 5000px;
}
#home {
  background-color: #f3f4f5;
}
#kontak {
}
.facebook {
  background-color: #f3f4f5;
}
